body{
    background-color: pink;
    font-family: "Open Sans", sans-serif;
}

.header{
    display: flex;
    border-bottom: 1px solid white;
    background-color: white;
    padding: 20px 40px;
    justify-content: center;
}


.boton{
    background-color: #8E44AD;
    border: 2px solid #8E44AD;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    margin: 10px auto;
   
}

